  <div class="filv_status">

  
    
    <div class="yuusya_image">
  
    </div> 

    <div class="status">
      <p class="status__title">Strength: </p>
      <p class="status__title">Intelligence: </p>
      <p class="status__title">Charisma: </p>
    </div> 

  </div>
