<div class="reviews_container"> 

 <div class="reviews_header"> 
  <h2 class="reviews__title">Review</h2>
    <div class="button">
      <a class="movie-search" href="/">映画検索</a>
    </div>
 </div>   


   <h2 class="movie-title">インセプション</h2>

    <div class="movie_details">
      <div class="movie_release-date">公開日: 2010-07-16</div>
      <div class="movie_director">監督: クリストファー・ノーラン</div>
     </div>

</div>

<div class="reviews">

<div class="review">
    <h4 class="review_title">入り組んだ物語</h3>

    <div class="review_body">繊細なストーリー展開と、複雑な夢の世界が見事に描かれています。演者たちの演技も素晴らしいです。映画の中での時間の概念も面白いところです。</div>
  </div>

  <div class="review">
    <h4 class="review_title">入り組んだ物語</h3>

    <div class="review_body">繊細なストーリー展開と、複雑な夢の世界が見事に描かれています。演者たちの演技も素晴らしいです。映画の中での時間の概念も面白いところです。</div>
  </div>


  <div class="review">
    <h4 class="review_title">入り組んだ物語</h3>

    <div class="review_body">繊細なストーリー展開と、複雑な夢の世界が見事に描かれています。演者たちの演技も素晴らしいです。映画の中での時間の概念も面白いところです。</div>
  </div>

  

  </div>