<div class="reviews_container"> 

  <div class="reviews_header"> 

    <h2 class="reviews__title">Review</h2>

    <div class="button">
      <a class="movie-search" href="/">映画検索</a>
    </div>

  </div>   

  <div class="movie_info"> 

  <h2 class="movie-title"><%= @movie.title %></h2>
    <div class="movie_details">
      <div class="movie_release-date">公開日: <%= @movie.release_at %></div>
      <div class="movie_director">監督: <%= @movie.director %></div>
     </div>
   </div>  

<%= link_to 'レビュー投稿', new_movie_review_path, class:"" %>

   

</div>

<div class="reviews">

<div class="review">

    <h4 class="review_title">画期的な物語</h3>

    <div class="review_body">繊細なストーリー展開と、複雑な夢の世界が見事に描かれています。演者たちの演技も素晴らしいです。映画の中での時間の概念も面白いところです。</div>
  
  <div class="review_review">
  このレビューを評価してください
   <div class="review_evaluation">
    <p>感動的：<span class="star">★★★★</span></p>
    <p>論理的：<span class="star">★★★</span></p>
    <p>魅力的：<span class="star">★★</span></p>
   </div>
  </div> 

</div>

<div class="review">

    <h4 class="review_title">画期的な物語</h3>

    <div class="review_body">繊細なストーリー展開と、複雑な夢の世界が見事に描かれています。演者たちの演技も素晴らしいです。映画の中での時間の概念も面白いところです。繊細なストーリー展開と、複雑な夢の世界が見事に描かれています。演者たちの演技も素晴らしいです。映画の中での時間の概念も面白いところです。</div>
  
  <div class="review_review">
  このレビューを評価してください
   <div class="review_evaluation">
    <p>感動的：<span class="star">★★★★</span></p>
    <p>論理的：<span class="star">★★★</span></p>
    <p>魅力的：<span class="star">★★</span></p>
   </div>
  </div> 

</div>


<div class="review">

    <h4 class="review_title">画期的な物語</h3>

    <div class="review_body">繊細なストーリー展開と、複雑な夢の世界が見事に描かれています。演者たちの演技も素晴らしいです。映画の中での時間の概念も面白いところです。</div>
  
  <div class="review_review">
  このレビューを評価してください
   <div class="review_evaluation">
    <p>感動的：<span class="star">★★★★</span></p>
    <p>論理的：<span class="star">★★★</span></p>
    <p>魅力的：<span class="star">★★</span></p>
   </div>
  </div> 

</div>
  

</div>