  <h2 class="reviews__title">Review</h2>

<div class="reviews">

<div class="review">
    <h3 class="review__title">「インセプション」</h3>
     <div class="review__details">
      <div class="review__release-date">公開日: 2010-07-16</div>
      <div class="review__director">監督: クリストファー・ノーラン</div>
     </div>
    <div class="review__body">繊細なストーリー展開と、複雑な夢の世界が見事に描かれています。演者たちの演技も素晴らしいです。映画の中での時間の概念も面白いところです。</div>
  </div>

  <div class="review">
    <h3 class="review__title">「シックス・センス」</h3>
     <div class="review__details">
      <div class="review__release-date">公開日: 1999-09-24</div>
      <div class="review__director">監督: M・ナイト・シャマラン</div>
     </div>
    <div class="review__body">心理ホラー映画ですが、シリアスなところもあり、恐怖と感動のバランスが絶妙です。主人公のキャリーが見せる精神的な苦しみがリアルです。映画のエンディングも見逃せません。</div>
  </div>

  <div class="review">
    <h3 class="review__title">「マトリックス」</h3>
     <div class="review__details">
      <div class="review__release-date">公開日: 1999-03-31</div>
      <div class="review__director">監督: アンディ・ウォシャウスキー</div>
     </div>
    <p class="review__body">現実と幻想の境界が曖昧なSF映画です。アクションシーンも圧巻ですが、人間ドラマも見事に描かれています。主人公のネオが見せる根本的な問いも面白いところです。</p>
  </div>
  

  </div>